<%= paginator.render do %>
  <nav class="flex items-center justify-center space-x-1" role="navigation" aria-label="pagination">
    <div class="flex items-center space-x-1">
      <%= first_page_tag unless current_page.first? %>
      <%= prev_page_tag unless current_page.first? %>
    </div>

    <div class="flex items-center space-x-1">
      <% each_page do |page| %>
        <% if page.display_tag? %>
          <%= page_tag page %>
        <% elsif !page.was_truncated? %>
          <%= gap_tag %>
        <% end %>
      <% end %>
    </div>

    <div class="flex items-center space-x-1">
      <%= next_page_tag unless current_page.last? %>
      <%= last_page_tag unless current_page.last? %>
    </div>
  </nav>
<% end %> 